@import url(https://db.onlinewebfonts.com/c/f05f148ec6596f0b75375fa566aaf1fe?family=Bely+Display+W00+Regular);
@import url(https://db.onlinewebfonts.com/c/fe82d4bebb545cd0d8c9683e258e961c?family=Muli);

html, body {
  margin: 0;
  padding: 0;
}

body {
    background-color: #FAF4F0;
}

h2 {
    font-family: "Bely Display W00 Regular", sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #1A1918;
    text-align: center;
}

h3 {
    font-family: "Muli";
    font-size: 20px;
}

hr {
  border: none;
  height: 1px;
  background-color: #CCC7C3;
  margin: 30px 0;
}

#image {
  width: 100%;
  height: auto;
  display: block;
}


#date {
    font-family: "Muli";
    font-size: 14px;
    color: #42629A;
}

#meditation {
    text-transform: uppercase;
    text-align: center;
}

#bibleJour {
    text-align: center;
}

#evangile {
    text-align: center;
}

#content {
    margin: 40px auto;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
}

#meditation, #priere, #chapelet {
    padding: 0 100px;
}

#chapelet img {
    display: block;
    margin: 0 auto;
}

.texte {
    font-family: "Muli";
    font-size: 16px;
    color: #1A1918;
}

.container-img-credo {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.container-img-credo img {
    max-width: 1500px;
    height: auto;
}

.container-img-credo .texte {
    flex: 1;
}


/* Animation de base */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

img.fade-in {
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Onglets "Dimanches et fêtes", "Messes de semaine", "Autres célébrations", "Toutes" */
.searchCelebrationTimeTabBar {
    display: none !important;
}

/* Phrase type "Il y a 13 horaires de célébration pour votre recherche ..." */
.searchCelebrationTimeMessage {
    display: none !important;
}

/* Bouton "Afficher plus d’horaires" */
.cellTreeShowMoreButton,
.searchCelebrationTimeAddTo .loadMore {
    display: none !important;
}

.searchCelebrationTimeDisplayPanel {
    font-family: "Muli";
    font-size: 14px;
    color: #1A1918;
}